body {
    max-width: 1900px;
	width: 100%;
   	margin: 0 auto; 
}

.header-nav {
  display: flex;
  justify-content: space-between;
  background-color: #313131;
}

.logo-title{
  display: flex;
  align-items:center;
}

.logo {
  display: flex;
  align-items:center;
  margin-left: 27px;
  background-color: chartreuse;
   }

 .logo-text {
  margin-left: 27px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  text-decoration: none;
  color:#FFFFFF;
 }

.main-menu {
  height: 70px;
  display: flex;
  justify-content: center; 
}

.main-menu-item {
  display: flex;
  align-items:center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  margin-left: 18px;
  margin-right: 18px;
}

.main-menu-link {
  text-transform: uppercase;
  text-decoration: none;
  color:#FFFFFF;
  text-decoration-color: #4BCAFF;
  /* background-color: yellow; */
}

.main-menu-link:hover{
  color: #4BCAFF;

}

.search-btn {
  background: black;
  cursor: pointer;
  width: 70px;
  height: 70px;
}

.header-desc{

  background: url("../img/header-bg.jpeg") no-repeat center;
  padding-top: 164px;
  padding-bottom: 74px;
}

.header-desc-title {
  color:#FFFFFF;;
  text-align: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  margin-bottom: 44px;
 }

.header-desc-btn{
  display: flex;
  justify-content: center;
}

.sub-btn{
  width: 170px;
  height: 55px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  background-color: #89CA62;
  border-radius: 4px;
	cursor: pointer;
  margin-right: 20px;
}

.best-art-btn{
  width: 170px;
  height: 55px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  background-color: #14B9D5;
  border-radius: 4px;
  cursor: pointer;
}

.pop-posts{
  background: url("../img/most-popur-post-bg.jpg") no-repeat center;
  padding-top: 49px;
  padding-bottom: 72px;
 }

.pop-posts-title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  color: #18B4CF;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 42px;
}

.pop-posts-gallery {

  height: 828px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
.pop-posts-gallery p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353A3D;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 32px;
}
  
 .pop-posts-gallery div {
  margin-right: 20px;
}

.clients {
  background: url("../img/parallax-bg.jpeg") no-repeat center;
  padding-top: 106px;
  padding-bottom: 192px;
}

.clients-title {
  text-transform: uppercase;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #FFFFFF;
  text-align: center;
}

.clients-block-line {
  width: 60px;
  height: 3px;
  background: #18B4CF;
  margin-top: 87px;
  margin-bottom: 107px;
  border: none;
}

.brends { 
  display: grid;
  grid-auto-flow: column;
  grid-gap: 50px;
  justify-content: center;
  align-items: center;  
}
  
.top-rated-photo{
  background: #E5E5E5;
}

.top-rated-title {
  padding-top: 49px;
  margin-bottom: 52px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #18B4CF;
}

.photo-rated{
  display: grid;
  grid-auto-flow: column;
}

.photo-rated-item {
  width: 100%; 
  
  }

    /* -------- HOT NEWS GRID AREA -------- */

.hot-news{
    background: floralwhite;
    padding-bottom: 71px;
          
    }

.hot-news-title{
  padding-top: 48px;
  margin-bottom: 51px;
  text-align: center;
  text-transform: uppercase;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  color: #18B4CF;
    }
    
.art-hot-news{
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 60px;
  grid-row-gap: 44px;
  max-width: 1180px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.0001);
  grid-template-areas:
    "art-emirate art-emirate art-emirate art-spain"
    "art-egypt art-egypt art-maldive art-maldive"
    "art-tenerife art-tenerife art-great-britain art-great-britain"
    "art-ireland art-resort-spain art-resort-spain art-resort-spain"
}

.art-emirate{
  grid-area: art-emirate;
  display: grid;
  grid-auto-flow: column;
  
}
 .art-emirate-img{
    width: 100%;
 }  
.art-emirate-desc{
width: 374px;
}
.art-emirate-title{
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353A3D;
  text-align: right;
  margin: 41px 24px 14.5px 0;
 
}
.art-emirate-text{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5B6469;
  text-align: right;
  margin-right: 24px;   
}

.art-spain {
  grid-area: art-spain;
  margin-left: -15px;
 }
.art-spain-title{
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353A3D;
  text-align: center;
  padding-top: 14px;
  
  }

.art-egypt{
  grid-area: art-egypt;
 }

  .resort-egypt-img{
    width: 100%
  }

.art-egypt-title{
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353A3D;
  text-align: right;
  margin: 14px 14px 14px 0;

}
.art-egypt-text{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5B6469;
  text-align: right;
  margin-right: 14px;
  margin-left: 13px;
   
}

.art-maldive{
  grid-area: art-maldive;
  
}
.resort-maldive-img{
  width: 100%
}

.art-maldive-title{
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353A3D;
  text-align: right;
  margin: 14px 14px 14px 0;

}
.art-maldive-text{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5B6469;
  text-align: right;
  margin-right: 14px;
  margin-left: 13px;
}

.art-tenerife{
  grid-area: art-tenerife;
  

}

.resort-tenerife-img{
  width: 100%;
}

.art-tenerife-title{
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353A3D;
  text-align: right;
  margin: 14px 14px 14px 0;
}
.art-tenerife-text{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5B6469;
  text-align: right;
  margin-right: 14px;
  margin-left: 13px;
}

.art-great-britain{
 grid-area: art-great-britain;
 }

.hotel-great-britain-img{
  width: 100%;
}

.art-great-britain-title{
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353A3D;
  text-align: right;
  margin: 14px 14px 14px 0;

}
.art-great-britain-text{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5B6469;
  text-align: right;
  margin: 14px 14px 14px 0;
}

.art-ireland{
  grid-area: art-ireland;
  margin-right: -15px;
  
  }
.art-ireland-title{
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353A3D;
  text-align: center;
  padding-top: 14px;
}

.art-resort-spain{
  grid-area: art-resort-spain;
  display: grid;
  grid-auto-flow: column;
  
}
.art-resort-spain-desc{
  width: 374px;
 }

.art-resort-spain-title{
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353A3D;
  text-align: right;
  margin: 41px 24px 14.5px 0;
}

.art-resort-spain-text{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5B6469;
  text-align: right;
  margin-right: 24px;   
}

/*------- FOOTER -------- */

.footer-content{
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  }
.copyright{
  margin-top: 29px;
  margin-bottom: 30px;
  margin-left: 367px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  color: #FFFFFF;
}
.footer-logo{
  display: grid;
  grid-auto-flow: column;
  margin-right: 386px;
  align-items: center;
}
.footer-logo-text{
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 29px;
  margin-bottom: 35px;
}












